<ion-header>
  <ion-toolbar>
    <ion-title>Pomodoro Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pomodoro-timer">
    <!-- Display Current Time -->
    <div class="real-time-clock">
      <p>{{ currentTime }}</p>
    </div>

    <!-- Circular Timer with Dynamic Progress -->
    <div class="timer-circle"   
         [style.background]="getProgressPercentage() ? 'conic-gradient(#4caf50 ' + getProgressPercentage() + '% 100%, transparent 0 100%)' : 'conic-gradient(#e0e0e0 0% 100%)'">
      <p>{{ getFormattedTime() }}<span class="timer-label"> Minutes Left</span></p>
    </div>

    <ion-button (click)="startPomodoro()" *ngIf="!isPomodoroActive && !isBreakActive" class="small-button">Start</ion-button>
    <!-- <ion-button (click)="resetTimer()" *ngIf="isPomodoroActive || isBreakActive" class="small-button">Stop</ion-button> -->
  </div>
</ion-content>
